.fleet
.idea
.vscode
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
artifacts
coverage
dist
node_modules
packages/*/bin

.codex
.npmrc
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
